<div class="col-9 max-container px-0 m-auto" style="margin-bottom: 2%!important;margin-top: 1%!important;">
	<h2>{{ node.label }}</h2>
    <input type="hidden" id="tituloContenido" value={{ node.label }}>
	<div class="col-12 imgNoticia">
		{{ content.field_video_galeria }}</div>
	<div class="lineGris"></div>
	<div class="containerBodyNoticia">
		<div class="bodyNoticia">{{ content.field_descripcion_video  }}</div>
	</div>
	<div class="shareBox" >
		Comparte
		<a href="#" class="share-facebook">
			<i class="fab fa-facebook-f"></i>
		</a>
		<a href="#" class="share-twitter">
			<i class="fab fa-twitter"></i>
		</a>
	</div>


</div>
