<div class="whiteArea">
	<div class="col-9 max-container px-0 m-auto ">
		<div class="row">
			<div class="col-12">
				<h1>Jóvenes programadores</h1>
			</div>
			<div class="col-12">
				<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit</p>
			</div>
			<div class="col-12 imgIndex">
				<img src="{{ url('<front>') }}/sites/default/files/2021-11/jovProg.png">
			</div>
			<div class="col-12">
				<div class="btnVerMasIndex col-12">
					<div class="more-link">
						<a href="/drupal/noticias" class="keychainify-checked">Ve todas las capacitaciones en línea</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
