<div class='whiteArea'>
	<div class="col-9 max-container px-0 m-auto ">
		<div class='col-12'>
			<h1>Cronografía</h2>
			<p>Aquí podrás visualizar de manera ordenada y cronológica las obras y exposiciones históricas de los artistas que forman parte de este catálogo razonado / de esta investigación; y también en relación a hitos históricos relevantes, que contextualizan la producción y vivencia del pintor.</p>
			
		
		</div>
		<div id='timeline-embed' style="width: 100%; height:1000px"></div>
	</div>
</div>


<script>

	var jsonFile = {{ cronografia|raw }};


</script>
