{{ page.content }}
<div class='whiteArea'>
	<div class="col-9 max-container px-0 m-auto ">
		<div class="row">
			<div class='col-12'>
				<h6>{{catalogo[0].nombreCatalogo}}</h6>
			</div>
			<div class="cardItem">
				<div class="row">
					<div class='col-lg-6 col-md-6 col-sm-12 col-xs-12'>
						<div class='imgItem'><img src='{{ catalogo[0].rutaFoto }}'></div>
					</div>
					<div class='col-lg-6 col-md-6 col-sm-12 col-xs-12'>
						<div class='descItem pt-0'>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit</div>
					</div>
				</div>
			</div>


		</div>
	</div>
</div>
