{{ page.content }}
<div class='whiteArea'>
	<div class="col-9 max-container px-0 m-auto ">
		<div class="row">
			<div class='col-12'>
				<h6>{{catalogo[0].nombreCatalogo}}</h6>
			</div>
			<div class="cardItem">
				<div class="row">
					<div class='col-lg-6 col-md-6 col-sm-12 col-xs-12'>
						<div class='imgItem'><img src='{{ catalogo[0].rutaFoto }}'></div>
					</div>
					<div class='col-lg-6 col-md-6 col-sm-12 col-xs-12'>
						<div class='descItem pt-0'><p>Monvoisin en América es un proyecto de investigación internacional que se 
							centra en la catalogación y estudio de las obras del artista Raymond Quinsac Monvoisin (1790-1870) 
							que se produjeron o que actualmente se encuentran en el continente americano. Este proyecto propone 
							una perspectiva regional sobre su producción artística y se centra en diversos aspectos de la presencia 
							de Monvoisin en todo el continente, tales como los problemas de la circulación de sus imágenes, las migraciones,
							 representación de sujetos subalternos, la materialidad de sus obras, el mercado de arte y el coleccionismo del 
							 período. Todo ello se analiza a través de una óptica transnacional e interregional en el cono sur americano. 
							Por lo anterior, el objetivo central de esta investigación es realizar un catálogo razonado de la obra de 
							Raymond Quinsac Monvoisin por medio del catastro, registro, documentación y estudio químico/material de su 
							obra en el continente. Asimismo, busca articular complejamente la figura del pintor con sus discípulos o 
							taller artístico en América, estudiando la vida y obra de su círculo más cercano: Clara Filleul, Franklin Rawson, 
							Gregorio Torres, Procesa Sarmiento y Francisco Javier Mandiola.</p>
							<div>
					</div>
				</div>
			</div>


		</div>
	</div>
</div>
