<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
<div class='whiteArea'>
	<div class="col-9 max-container px-0 m-auto ">
		<div class='col-12'>
			<h1>Quinsac en cifras</h1>
			<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit</p>
      <h2 class="pb-3">Filtros</h2>
    
    <form action="" method="get">
      <div class="row">
        <div class="col-lg-2 col-md-12 col-sm-12 col-xs-12">
          <div class="InfoTitulo1 pb-1">Coordenada X</div>
          <div>
            <select class="inputSelect" name="cX" id="cX">
              <option value="0">Selecciona</option>
              <option value="1">Tematica</option>
              <option value="2">Tecnica</option>
            </select>  
          </div>
        </div>

        <div class="col-lg-2 col-md-12 col-sm-12 col-xs-12">
          <div class="InfoTitulo1 pb-1">Coordenada Y</div>
          <div>
            <select class="inputSelect" name="cY" id="cY">
              <option value="0">Selecciona</option>
              <option value="annio">Año</option>
            </select>  
          </div>
        </div>

        <div class="col-lg-2 col-md-12 col-sm-12 col-xs-12">
          <div class="InfoTitulo1 pb-4-5"></div>
          <input type='submit' class='btn button btnBuscarFiltro more-link' value="Genera">
        </div>
        
      </div>
    </form>







      <br>
      <h2 class="pb-3">Estadísticas generadas</h2>
      <div class="InfoTitulo1 pb-1">Tipo de gráfico</div>
      <div class="col-lg-2 col-md-12 col-sm-12 col-xs-12">
        <select class="inputSelect" name="chartType" id="chartType" onchange="updateChartType()">
          <option value="bar">Bar</option>
          <option value="line">Line</option>
          <option value="pie">Pie</option>
          <option value="radar">Radar</option>
          <option value="horizontalBar">Horizontal Bar</option>
        </select>  
      </div>   
    </div>
	 <br/>

    <div class ="row">
      <div class="col-lg-4">
        <canvas id="my_Chart" style="width:100%;max-width:700px" ></canvas>
      </div>
    </div>
	</div>
</div>
{{dump(grafico['yValues'])}}

<script>
  var Titulo = "Estadísticas generadas";
  var xValues = [{{ grafico['xValues']|raw }}];
  var yValues = [{{ grafico['yValues']|raw }}];
  var barColors = [{{ grafico['stringColor']|raw }}];

  var myData = {
                    labels: xValues,
                    datasets: [{
                        label: Titulo,
                        fill: false,
                        backgroundColor: barColors,
                        borderColor: 'black',
                        data: yValues,
                    }]
                };

                var ctx = document.getElementById('my_Chart').getContext('2d');
                var myChart = new Chart(ctx, {
                    type: 'bar',    	
                    data: myData    	
                });

                function updateChartType() {

                    myChart.destroy();

                    myChart = new Chart(ctx, {
                        type: document.getElementById("chartType").value,  
                        data: myData
                    });
                };
</script>