<div class='whiteArea pb-0'>
	<div class="col-9 max-container px-0 m-auto row menuBreadcrum ">	
		<div class="col-12 col-md-6 col-sm-12 col-xs-12  ">
			<a href="/" style="color:#C0C0C0" >Inicio /</a>
			<a href="/equipoinvestigacion" >Equipo de investigación</a>
		</div>
	</div>
</div>


<div class="layout-container">
	<div class='whiteArea'>

		<main role="main" class="col-9 max-container px-0 m-auto">
			<a id="main-content" tabindex="-1"></a>
			{# link is in html.html.twig #}

			<h1>Equipo de investigación</h1>


			<div class="accordion">Manuel Alvarado
				<i class="fas fa-chevron-down"></i>
				<i class="fas fa-chevron-up"></i>
			</div>
			<div class="panel">
				<p>Magíster en Teoría e Historia del Arte por la Universidad de Chile, licenciado en Historia y licenciado en Estética por la Pontificia Universidad Católica de Chile. En el ámbito laboral, actualmente se desempeña como investigador de colecciones en el Museo Nacional de Bellas Artes. Además, es miembro del equipo editorial del Centro de Estudios de Cosas Lindas e Inútiles (CECLI). Sus áreas de investigación son la historia del arte y  la cultura material en Chile durante el siglo XIX y las primeras décadas del XX.</p>	
			</div>

      		<div class="accordion">Roberto Amigo
				<i class="fas fa-chevron-down"></i>
				<i class="fas fa-chevron-up"></i>
			</div>
			<div class="panel">
				<p>Historiador del arte por la Facultad de Filosofía y Letras de la Universidad de Buenos Aires, donde ejerce como docente de cátedra. Además, es investigador-docente en el Instituto del Desarrollo Humano de la Universidad Nacional General Sarmiento, donde radica proyectos de investigación sobre arte regional del siglo XIX y dicta materias del área de cultura. Ha participado como investigador principal en distintos proyectos colectivos de investigación, como José Gil de Castro. Cultura visual y representación, del Antiguo Régimen a las repúblicas sudamericanas, entre otros. En su actividad profesional ha sido curador en jefe del Museo Nacional de Bellas Artes de Buenos Aires. Anteriormente llevó a cabo la dirección académica de la catalogación razonada de la misma institución, y actualmente dirige la catalogación de la colección del Museo Provincial de Bellas Artes Franklin Rawson de San Juan.</p>
>			</div>

      		<div class="accordion">Rolando Báez
				<i class="fas fa-chevron-down"></i>
				<i class="fas fa-chevron-up"></i>
			</div>
			<div class="panel">
				<p></p>
			</div>

      		<div class="accordion">Ángela Benavente Covarrubias
				<i class="fas fa-chevron-down"></i>
				<i class="fas fa-chevron-up"></i>
			</div>
			<div class="panel">
				<p>Se ha especializado en la restauración de patrimonio pictórico. Desde el año 2000 ha trabajado en la Unidad de Patrimonio de Artes Visuales del Centro Nacional Conservación y Restauración (CNCR), primero a través de diversos proyectos, y desde el 2010 como parte del equipo de la unidad. Como Coordinadora de Programas, tiene bajo su responsabilidad coordinar, monitorear y desarrollar los programas, actividades y procedimientos que ejecuta la unidad en sus áreas de competencia; realizar asesorías, capacitaciones y actividades de difusión y extensión; apoyar la gestión técnica, operativa y administrativa de la unidad para el cumplimiento de sus objetivos e indicadores. Desde el 2019, tiene bajo su responsabilidad la Coordinación del Programa de Patrimonio Mural de la unidad.</p>
			</div>

      		<div class="accordion">Eva Cancino Fuentes
				<i class="fas fa-chevron-down"></i>
				<i class="fas fa-chevron-up"></i>
			</div>
			<div class="panel">
				<p></p>
			</div>

			<div class="accordion">Gloria Cortés Aliaga
				<i class="fas fa-chevron-down"></i>
				<i class="fas fa-chevron-up"></i>
			</div>
			<div class="panel">
				<p>Historiadora del arte y curadora. Académica en programas de posgrado sobre curatoria crítica, ha desarrollado diversas investigaciones en torno a la configuración de la modernidad en Chile y sus alcances en las políticas visuales. Se ha especializado en estudios con perspectiva de género y feminismos, siendo autora de diversas publicaciones, artículos, catálogos y libros como Modernas. Historias de mujeres en el arte chileno (1900-1950), Santiago: Origo (2013 [2018]). Coordinadora en Chile del proyecto Monvoisin en América: catalogación razonada de Raymond Quinsac Monvoisin y sus discípulos.</p>
			</div>
			<div class="accordion">Jaime Cuevas Pérez
				<i class="fas fa-chevron-down"></i>
				<i class="fas fa-chevron-up"></i>
			</div>
			<div class="panel">
				<p>Magíster en Historia del Arte por la Universidad Adolfo Ibáñez y licenciado en Teoría e Historia del Arte por la Universidad de Chile. Actualmente se desempeña como investigador de Colecciones en el Museo Nacional de Bellas Artes, Chile. Sus intereses de investigación se centran en la historia del arte y cultura visual del siglo XIX en Chile y América Latina; coleccionismo y representación de sujetos subalternos. Ha publicado el libro Catastro y visualidad de Afromestizos en Chile. Colección del Museo Nacional de Bellas Artes (2019).</p>
			</div>

			<div class="accordion">Fábio D’Almeida
				<i class="fas fa-chevron-down"></i>
				<i class="fas fa-chevron-up"></i>
			</div>
			<div class="panel">
				<p>Historiador del arte y posdoctorado en Historia del Arte en la Facultad de Arquitectura y Urbanismo de la Universidad de São Paulo y en la École du Louvre entre 2017 y 2020, con apoyo de la Fundación de Investigación de São Paulo (FAPESP). Doctorado y Magíster en Historia, Teoría y Crítica del Arte por la Escuela de Comunicaciones y Artes de la Universidad de São Paulo. Su investigación aborda la historiografía del arte, así como la pintura y la fotografía del siglo XIX, con especial interés en el arte brasileño de ese período.</p>
			</div>

			<div class="accordion">Elaine Días
				<i class="fas fa-chevron-down"></i>
				<i class="fas fa-chevron-up"></i>
			</div>
			<div class="panel">
				<p>Profesora de Historia del Arte de la UNIFESP – Universidade Federal de São Paulo, Brasil. Doctora en Historia (UNICAMP, Brasil) y post-doctorada en Historia del Arte y Arquitectura (Fapesp, FAU-USP). Fue becaria de la Fundación Getty en el INHA-Institut Nacional d’Histoire de l’Art de Paris y becaria Fapesp de Post-doctorado en el Centre André Chastel Université de Paris IV. Algunas publicaciones de su autoría y las que también integra son: Paisagem e Academia. Félix-Émile Taunay e o Brasil (1824-1851) (SP: Edit. da Unicamp, 2009); Les artistes français au Brésil au XIXe siècle: l'Académie des Beaux-Arts et la formation de la collection nationale de peinture de Rio de Janeiro, in PANZANELLI, Robert; entre muchas otras.</p>
			</div>

			<div class="accordion">Emanuel Díaz Ruíz
				<i class="fas fa-chevron-down"></i>
				<i class="fas fa-chevron-up"></i>
			</div>
			<div class="panel">
				<p>Investigador e historiador del arte de la Universidad Nacional de San Juan, Argentina, docente en las carreras Profesorado y Licenciatura del Departamento de Artes Visuales de la Facultad de Filosofía, Humanidades, y Artes  (FFHA) de la misma institución; e investigador del Instituto de Expresión Visual de la FFHA y del Gabinete de Estudio del Arte de San Juan de Fundación Exedra. Desde el año 2020 es director del Museo Provincial de Bellas Artes Franklin Rawson de la ciudad de San Juan, Argentina.</p>
			</div>

			<div class="accordion">Pablo Diener
				<i class="fas fa-chevron-down"></i>
				<i class="fas fa-chevron-up"></i>
			</div>
			<div class="panel">
				<p>Doctor en Filosofía con mención en Historia del Arte en 1994 en la Universidad de Zúrich, Suiza. En 2012-13 cursa un post-doctorado en la Universidad Nacional de Brasilia. Licenciado en Filosofía con mención en Historia del Arte de la Universidad de Zúrich y posgrado en la Universidad Complutense de Madrid y en la Universidad de Heidelberg, en Alemania. Ha concentrado su investigación en el arte y la ciencia de viajeros, donde su quehacer ha tenido como foco los legados dedicados a México, Brasil y Chile ocupándose de personalidades tales como Johann Moritz Rugendas y Alexander von Humboldt, entre otros. A partir de estos trabajos ha publicado catálogos de acervos artísticos y científicos y ha organizado diversas exposiciones.</p>
			</div>

			<div class="accordion">Georgina Gluzman
				<i class="fas fa-chevron-down"></i>
				<i class="fas fa-chevron-up"></i>
			</div>
			<div class="panel">
				<p>Doctora en Historia del Arte, y Licenciada y Profesora en Artes por la Universidad de Buenos Aires. Especialista en mujeres artistas y en enfoques feministas de la historia del arte, con foco en el siglo XIX y la primera mitad del siglo XX en el contexto latinoamericano. Ha estudiado temas como la representación femenina en la cultura visual, la historia de las exhibiciones femeninas, la inscripción de las artistas en las historias del arte y las carreras de diversas artistas mujeres. </p>
			</div>

			<div class="accordion">Marcela Drien Fábregas
				<i class="fas fa-chevron-down"></i>
				<i class="fas fa-chevron-up"></i>
			</div>
			<div class="panel">
				<p>PhD. in Art History por la Stony Brook University, en Estados Unidos, y magíster en Humanidades con mención en Historia por la Universidad Adolfo Ibáñez. Profesora del Departamento de Historia y Ciencias Sociales e investigadora del Centro de Estudios del Patrimonio de la Universidad Adolfo Ibáñez. Sus investigaciones se han centrado en la historia del arte en el siglo XIX, particularmente en el estudio de exposiciones, circulación y prácticas de coleccionismo en Chile. Actualmente sus investigaciones se centran en la circulación de pintura europea antigua en Chile.</p>
			</div>

			<div class="accordion">Fernando Guzmán
				<i class="fas fa-chevron-down"></i>
				<i class="fas fa-chevron-up"></i>
			</div>
			<div class="panel">
				<p>Doctor en Historia del Arte por la Universidad de Sevilla, España y licenciado en Teoría e Historia del Arte por la Universidad de Chile. Fue curador del Museo de Artes Decorativas de Santiago de Chile y director del Museo Regional de Ancud en la Isla de Chiloé. Es profesor de Historia del Arte en la Universidad Adolfo Ibáñez desde 2001. Ha publicado Representaciones del Paraíso, retablos en Chile, Siglos XVIII y XIX (2009), La Pintura Mural de Parinacota en El último bofedal de la Ruta de la Plata (2013), en colaboración con otros investigadores, y numerosos artículos sobre arte en Chile en el XVIII y XIX. </p>
			</div>

			<div class="accordion">Nicole Iroumé Awe
				<i class="fas fa-chevron-down"></i>
				<i class="fas fa-chevron-up"></i>
			</div>
			<div class="panel">
				<p>Doctoranda en Estudios Latinoamericanos (CECLA, Universidad de Chile) y magíster en Estudios de la Imagen por la Universidad Albertu Hurtado. Ha sido co-investigadora Conicyt-Fondecyt y responsable en proyectos de investigación Fondart Nacional en áreas de fotografía y artes aplicadas. Es co-editora del libro Juventud y fotografía en revistas juveniles chilenas del siglo XX (Ril, 2018), co-autora del libro Recorridos Fotográficos. Hacia la legitimación de la fotografía como obra de arte (MAC, 2018) y autora del libro Pigmentaciones fúngicas en la madera. Spalting y sus usos en el arte (MAC Valdivia, 2019).</p>
			</div>

			<div class="accordion">Natalia Keller
				<i class="fas fa-chevron-down"></i>
				<i class="fas fa-chevron-up"></i>
			</div>
			<div class="panel">
				<p></p>
			</div>

			<div class="accordion">Ricardo Kusunoki
				<i class="fas fa-chevron-down"></i>
				<i class="fas fa-chevron-up"></i>
			</div>
			<div class="panel">
				<p>Licenciado en Historia del Arte por la Universidad Católica del Perú, y bachiller en Historia del Arte de la Universidad Nacional Mayor de San Marcos en Lima. Ha colaborado como investigador independiente en variados proyectos, tales como Documents of 20th-century Latin American and Latino Art y el proyecto José Gil de Castro y su tiempo, organizado por el Museo de Arte de Lima con el apoyo de la Fundación Getty. Sus principales intereses académicos estuvieron inicialmente dirigidos al arte de la corte virreinal limeña entre los siglos XVIII y XIX, tema sobre el que ha publicado artículos en revistas. En la actualidad su principal interés es explorar nuevos temas de investigación asociados con la actividad artística en los circuitos regionales del interior del Perú durante los siglos XIX y XX, así como su relación con un ámbito andino más amplio.</p>
			</div>

			<div class="accordion">Natalia Majluf
				<i class="fas fa-chevron-down"></i>
				<i class="fas fa-chevron-up"></i>
			</div>
			<div class="panel">
				<p>Historiadora de arte por el Boston College, con maestría por el Institute of Fine Arts de la New York University y doctorado por la Universidad de Texas, en Austin. Entre 1995 y 2001 fue curadora en jefe del Museo de Arte de Lima, institución que pasó luego a dirigir hasta 2018. Su trabajo de curaduría e investigación se ha centrado en temas de arte latinoamericano de los siglos XIX y XX. Es editora de Los incas, reyes del Perú (2005); Luis Montero. ‘Los funerales de Atahualpa’ (2011), José Gil de Castro, pintor de libertadores (2014) y coautora de Elena Izcue (1999), La recuperación de la memoria. El primer siglo de la fotografía. Perú, 1842-1942 (2001) entre otros catálogos de exposición y publicaciones académicas. Entre 2018 y 2019 ocupó la cátedra Simón Bolívar del Centro para Estudios Latinoamericanos de la Universidad de Cambridge.</p>
			</div>


			<div class="accordion">Laura Malosetti Costa
				<i class="fas fa-chevron-down"></i>
				<i class="fas fa-chevron-up"></i>
			</div>
			<div class="panel">
				<p>Doctora en Historia del Arte por la Universidad de Buenos Aires, es académica de número de la Academia Nacional de Bellas Artes de la Argentina, investigadora principal del Consejo Nacional de Investigación Científica y Tecnológica (CONICET); decana del Instituto de Artes Mauricio Kagel y del Instituto de Investigaciones sobre el Patrimonio Cultural (IIPC-TAREA) de la Universidad Nacional de San Martín. Es autora de varios libros y numerosos artículos sobre arte argentino y latinoamericano y curadora de exposiciones en museos nacionales e internacionales. Entre ellas: Primeros modernos en Buenos Aires (MNBA Buenos Aires, 2007), Pampa, ciudad y suburbio (Fundación OSDE Buenos Aires, 2007), Collivadino. Buenos Aires en construcción (MNBA Buenos Aires, 2013), La seducción fatal. Imaginarios eróticos del siglo XIX (MNBA Buenos Aires, 2014), La Protesta (Hospicio Cabañas; Guadalajara, México, 2015), Ernesto de la Cárcova (MNBA Buenos Aires, 2017), Tabaré Cosmopolita (Museo Zorrilla; Montevideo, Uruguay, 2018) y Pintores en tiempos de la Independencia (Museo Nacional de Colombia, 2019).</p>
			</div>

			<div class="accordion">Marcelo Marino
				<i class="fas fa-chevron-down"></i>
				<i class="fas fa-chevron-up"></i>
			</div>
			<div class="panel">
				<p>Licenciado en Historia del Arte por la Universidad Nacional de Cuyo (Mendoza, Argentina). Ex becario CONICET (Concejo Nacional de Investigaciones Científicas y Técnicas). Ha sido docente y curador invitado en diversas exhibiciones del Museo de Arte Hispanoamericano Isaac Fernández Blanco, en Buenos Aires, y es colaborador en la curaduría de la colección de moda y textiles de la misma institución. Sus estudios, capítulos de libros y artículos publicados están relacionados con la representación de la indumentaria en las artes visuales de los siglos XIX y XX, los discursos del cuerpo y de la política y la formación de modelos de masculinidad y feminidad.</p>
			</div>

			<div class="accordion">Juan Manuel Martinez
				<i class="fas fa-chevron-down"></i>
				<i class="fas fa-chevron-up"></i>
			</div>
			<div class="panel">
				<p>Doctorando en Estudios Americanos, magíster en Historia de la Universidad Adolfo Ibáñez y licenciado en Teoría e Historia del Arte por la Universidad de Chile. Fue curador del Gabinete Numismático del Museo Histórico Nacional y hasta el 2013 fue curador de las colecciones patrimoniales de dicho museo. Ha realizado actividades docentes en la Facultad de Artes Liberales de la Universidad Adolfo Ibáñez, así como en otros centros de estudios superiores.</p>
			</div>

			<div class="accordion">José de Nordenflycht
				<i class="fas fa-chevron-down"></i>
				<i class="fas fa-chevron-up"></i>
			</div>
			<div class="panel">
				<p>Doctor en Historia del Arte por la Universidad de Granada, España. Director del Departamento de Artes Integradas de la Universidad de Playa Ancha, Valparaíso. Ha participado en distintos proyectos de investigación, curatoriales y editoriales acerca del debate contemporáneo sobre las prácticas artísticas y su puesta en valor patrimonial. Es autor y coautor de innumerables artículos, catálogos y libros, entre estos últimos destacan Monumentos y Sitios de Chile (1999), Patrimonio Local (2004), Post Patrimonio (2012), Patrimonial (2017) y Estudios Patrimoniales (2019).</p>
			</div>

			<div class="accordion">Carolina Ossa Izquierdo
				<i class="fas fa-chevron-down"></i>
				<i class="fas fa-chevron-up"></i>
			</div>
			<div class="panel">
				<p>Licenciada en Arte con mención en Restauración y magíster en Estéticas Americanas, ambos por la Pontificia Universidad Católica de Chile. Conservadora jefa de la Unidad de Patrimonio de las Artes Visuales del Centro Nacional de Conservación y Restauración (CNCR) del Servicio Nacional del Patrimonio Cultural, entre los años 2010 y 2021. Actualmente se encuentra a cargo de los estudios y planes en conservación y restauración del Servicio Nacional del Patrimonio Cultural. Es especialista en Gestión de Riesgo para el patrimonio cultural y ha dictado cursos de capacitación en estas materias en todo Chile y en el extranjero. Es editora de la publicación Estudios e intervenciones de restauración de la obra de Raymond Quinsac Monvoisin (Ril, 2022)</p>
			</div>

			<div class="accordion">Juan Pablo Pérez
				<i class="fas fa-chevron-down"></i>
				<i class="fas fa-chevron-up"></i>
			</div>
			<div class="panel">
				<p>Docente, artista y curador. Es Doctorando en Teoría e Historia del Arte de la Facultad de Filosofía y Letras de la Universidad de Buenos Aires), Licenciado en Artes con orientación en Artes Plásticas de la misma institución, y Profesor Nacional de Escultura en la Escuela Nacional de Bellas Artes Prilidiano Pueyrredón, IUNA. Actualmente su tesis doctoral versa sobre las imágenes de producción popular en el Río de la Plata durante la primera mitad del siglo XIX, bajo el título Anónimos y Populares. Imágenes, modelos y representaciones visuales en la construcción de la identidad federal, 1832-1853.</p>
			</div>

			<div class="accordion">Valeria Piccoli
				<i class="fas fa-chevron-down"></i>
				<i class="fas fa-chevron-up"></i>
			</div>
			<div class="panel">
				<p>Curadora, investigadora e historiadora del arte. Doctora y magíster en Historia del Arte de la Universidad de São Paulo, y graduada en Arquitectura y Urbanismo en la misma universidad. Contribuye activamente a la investigación, análisis, catalogación y exhibición de obras, colecciones y colecciones de arte brasileño, especialmente de los siglos XIX y XX. La investigación histórica combinada con la curaduría ha marcado su trayectoria profesional desde el comienzo de su formación. Como resultado de su trabajo, ha publicado varios libros y catálogos sobre arte brasileño en el país y en el extranjero. Sus intereses de investigación se centran en el arte brasileño de los siglos XIX y XX, con énfasis en la producción de artistas itinerantes europeos que pasaron por Brasil durante este período.</p>
			</div>


			<div class="accordion">Fernanda Pitta
				<i class="fas fa-chevron-down"></i>
				<i class="fas fa-chevron-up"></i>
			</div>
			<div class="panel">
				<p>Doctora de la Universidad de São Paulo, Brasil, curadora sénior en la Pinacoteca do Estado de São Paulo y profesora asistente de Historia del Arte Moderno en la Escola da Cidade, en São Paulo. Su investigación involucra principalmente un enfoque comparativo de la historia y la pintura de género del siglo XIX, centrado en una discusión transnacional de paradigmas nacionales de arte. También escribe regularmente sobre arte moderno y contemporáneo. Pitta contribuye regularmente en distintas revistas académicas sobre arte brasileño e historiografía del arte. </p>
			</div>

			<div class="accordion">Samuel Quiroga
				<i class="fas fa-chevron-down"></i>
				<i class="fas fa-chevron-up"></i>
			</div>
			<div class="panel">
				<p>Investigador independiente, magíster en Historia del Arte por la Universidad Adolfo Ibáñez, Santiago, Chile. Ha participado en encuentros sobre la imagen y sus usos, tanto en Chile como fuera del país, también ha sido parte de proyectos de investigación cuyos productos han sido publicados en artículos de revistas especializadas y de libros.</p>
			</div>

			<div class="accordion">Alberto Sánchez
				<i class="fas fa-chevron-down"></i>
				<i class="fas fa-chevron-up"></i>
			</div>
			<div class="panel">
				<p>Profesor de Artes Plásticas por la Universidad Nacional de San Juan y magister en Artes Visuales con Mención en Artes Visuales de la Universidad de Chile el año 2001. Trabaja como docente en el departamento de Artes Visuales de la Facultad de Filosofía, Humanidades y Artes en la Universidad Nacional de San Juan, y desde el año 2015 integra el equipo del Proyecto de Catalogación Patrimonial de Museo Provincial de Bellas Artes Franklin Rawson, dirigido por el historiador del arte Roberto Amigo.</p>
			</div>

			<div class="accordion">Catalina Valdés
				<i class="fas fa-chevron-down"></i>
				<i class="fas fa-chevron-up"></i>
			</div>
			<div class="panel">
				<p>Licenciada en Literatura y Lengua Hispánica, mención Literatura, y magíster en Teoría Literaria, ambos por la Universidad de Chile. Master en Théorie et pratiques de langage et des arts y doctora en Ciencias Sociales con mención en Arte y Lenguaje en la École des Hautes Études de Sciences Sociales, Francia, y en cotutela con el doctorado en Historia, mención Historia del Arte del Instituto de Altos Estudios Sociales de la Universidad Nacional de San Martín, Argentina. Su principal línea de investigación es la historia del arte y de la cultura visual del siglo XIX en Latinoamérica. Se interesa específicamente en las representaciones visuales de la naturaleza, las que aborda tanto en su dimensión material como en los alcances ideológicos y estéticos.</p>
			</div>

			<div class="accordion">Maraliz de Castro Vieira Christo
				<i class="fas fa-chevron-down"></i>
				<i class="fas fa-chevron-up"></i>
			</div>
			<div class="panel">
				<p>Doctora en Historia de la Universidad Estadual de Campinas con maestría en Historia de la Universidad Federal Fluminense y licenciada en Historia de la Universidad Federal de Juiz de Fora. Fue becaria de la Fundación Getty, junto al Institut National d’Histoire de l’Art, de París. Realizó su estancia postdoctoral en la Universidad Jaime I, de Castellón de la Plana de España, y en la Escuela Nacional de Antropología e Historia-INAH, de México. Sus intereses de investigación se centran principalmente en Historia del Arte en Brasil e Historia del Arte en el siglo XIX, con énfasis en estudios comparados entre Brasil y América Latina.</p>
			</div>

			<div class="accordion">Luis Eduardo Wuffarden
				<i class="fas fa-chevron-down"></i>
				<i class="fas fa-chevron-up"></i>
			</div>
			<div class="panel">
				<p>Historiador del arte, egresado de los departamentos de Letras e Historia de la Pontificia Universidad Católica del Perú (1973-1979). En su trayectoria profesional se ha desempeñado como crítico de arte, curador y editor cultural. Entre las exposiciones a su cargo en años recientes, destacan Szyszlo. Retrospectiva, Museo de Arte de Lima (2011); Carlos Baca-Flor, Museo de Arte de Lima (2012); Sabogal, Museo de Arte de Lima (2013); Pintura cuzqueña, Museo de Arte de Lima (2016), entre otras. Es autor o coautor de más de veinte libros sobre historia del arte peruano colonial y republicano; entre los más recientes destacan: Arte moderno. Colecciones del Museo de Arte de Lima. Lima: MALI, 2013; Pintura en Hispanoamérica. Madrid: El Viso, 2013.</p>
			</div>

		</div>


		<script>
			var acc = document.getElementsByClassName("accordion");
var i;

for (i = 0; i < acc.length; i++) {
acc[i].addEventListener("click", function () {
this.classList.toggle("active");
var iconDown = this.querySelector(".fa-chevron-down");
var iconUp = this.querySelector(".fa-chevron-up");
var panel = this.nextElementSibling;
if (panel.style.display === "block") {
panel.style.display = "none";
iconUp.style.display = "none";
iconDown.style.display = "block";
} else {
panel.style.display = "block";
iconDown.style.display = "none";
iconUp.style.display = "block";
}
});
}
		</script>


		<div class="layout-content">
			{{ page.content }}
		</div>
		{# /.layout-content #}

		{% if page.sidebar_first %}
			<aside class="layout-sidebar-first" role="complementary">
				{{ page.sidebar_first }}
			</aside>
		{% endif %}

		{% if page.sidebar_second %}
			<aside class="layout-sidebar-second" role="complementary">
				{{ page.sidebar_second }}
			</aside>
		{% endif %}

	</main>

	{% if page.footer %}
		<footer role="contentinfo">
			{{ page.footer }}
		</footer>
	{% endif %}

</div>
{# /.layout-container #}
