<div class='whiteArea'>
	<div class="col-9 max-container px-0 m-auto ">
		<div id='timeline-embed' style="width: 100%; height: 700px"></div>
	</div>
</div>


<script>

var jsonFile = {{ cronografia|raw }};




</script>
