{% if links.idCatalogo != "null" %}
<div class='greyArea'>
	<div class="col-9 max-container px-0 m-auto ">
		<div class="row">
			<div class='col-12'>
				<h1>Contenido relacionado</h2>
			</div>
			<div class='cardItem col-lg-4 col-md-4 col-sm-6 col-xs-6'>
				<a target="_blank" href='https://www.youtube.com/playlist?list=PLMdUwRpH3syk2fkZW448cfWwiiNioqq_0'>
					<div class='imgItem'><img src='http://localhost/vpm/sites/default/files/2022-04/hqdefault.jpg'></div>
					<div class='nombreArtista'>Ciclo Monvoisin en América</div>
					<div class='linkItem'>Ve más
						<i class="fa fa-chevron-right" aria-hidden="true"></i>
					</div>
				</a>
			</div>

		</div>
	</div>
</div>

{% endif %}
