{{ page.content }}
<div class='whiteArea'>
	<div class="col-9 max-container px-0 m-auto ">
		<div class="row ">
			<div class='col-12'>
				<h1>Sobre la investigaci贸n</h1>
			</div>
			<div class='col-12 '>
				<div class='descItem pt-0 pb-5'>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit</div>
			</div>
			<div class='col-12 row'>
				<h2 class="pb-3">Equipo</h2>
				<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
					<h3 class="">Nombre Apellido</h3>
					<div class='rolPersona'>Rol de la persona</div>
					<div class='nombreInstitucion'>Nombre de instituci贸n</div>
					<div class='correoPersona'>
						<a href='#'>correodelmuseo@mail.com<i class="fa fa-envelope-o" aria-hidden="true"></i>
						</a>
					</div>
				</div>
				<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
					<h3 class="">Nombre Apellido</h3>
					<div class='rolPersona'>Rol de la persona</div>
					<div class='nombreInstitucion'>Nombre de instituci贸n</div>
					<div class='correoPersona'>
						<a href='#'>correodelmuseo@mail.com<i class="fa fa-envelope-o" aria-hidden="true"></i>
						</a>
					</div>
				</div>
				<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
					<h3 class="">Nombre Apellido</h3>
					<div class='rolPersona'>Rol de la persona</div>
					<div class='nombreInstitucion'>Nombre de instituci贸n</div>
					<div class='correoPersona'>
						<a href='#'>correodelmuseo@mail.com<i class="fa fa-envelope-o" aria-hidden="true"></i>
						</a>
					</div>
				</div>

				<h2 class="pb-3 pt-5">Historia</h2>
				<div class='descItem pt-0 pb-5'>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.<br><br>
					At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.<br><br>
					Lorem ipsum dolor sit Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit</div>

				<h2 class="pb-3 pt-5">Etapas</h2>
				<h3 class="">1. Etapa 1 Lorem ipsum dolor</h3>
				<div class='descItem pt-0 pb-5'>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit</div>

				<h3 class="">2. Etapa 2 Lorem ipsum dolor</h3>
				<div class='descItem pt-0 pb-5'>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit<br><br>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit</div>

				<h3 class="">3. Etapa 3 Lorem ipsum dolor</h3>
				<div class='descItem pt-0 pb-5'>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit<br><br>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit</div>

				<h2 class="pb-2 pt-5">Organizan</h2>
				<div class="main-contentSlider " id="main-contentGaleriaMini2">
					<div class="owl-carousel owl-theme " id="carouselGaleriaMini2">

						<div class="item sliderGaleria imagenSlider2">
							<img src='http://localhost/vpm/sites/default/files/2022-04/cclmlogo.png'>
						</div>
						<div class="item sliderGaleria imagenSlider2">
							<img src='http://localhost/vpm/sites/default/files/2022-04/cncrlogo.png'>
						</div>
						<div class="item sliderGaleria imagenSlider2">
							<img src='http://localhost/vpm/sites/default/files/2022-04/m100logo.png'>
						</div>
					</div>
					<div class="owl-theme">
						<div class="owl-controls">
							<div class="owl-nav custom-nav " id='custom-navMini2'></div>
						</div>
					</div>
				</div>

				<h2 class="pb-2 pt-5 mt-5">Participan</h2>
				<div class="main-contentSlider " id="main-contentGaleriaMini">
					<div class="owl-carousel owl-theme " id="carouselGaleriaMini">

						<div class="item sliderGaleria imagenSlider2">
							<img src='http://localhost/vpm/sites/default/files/2022-04/colmado.png'>
						</div>
						<div class="item sliderGaleria imagenSlider2">
							<img src='http://localhost/vpm/sites/default/files/2022-04/enel.png'>
						</div>
						<div class="item sliderGaleria imagenSlider2">
							<img src='http://localhost/vpm/sites/default/files/2022-04/udpa.png'>
						</div>
					</div>
					<div class="owl-theme">
						<div class="owl-controls">
							<div class="owl-nav custom-nav " id='custom-navMini'></div>
						</div>
					</div>
				</div>

                <h2 class="pb-2 pt-5 mt-5">Auspicia</h2>
				<div class="main-contentSlider " id="main-contentGaleriaMini1">
					<div class="owl-carousel owl-theme " id="carouselGaleriaMini1">

						<div class="item sliderGaleria imagenSlider2">
							<img src='http://localhost/vpm/sites/default/files/2022-04/leon.png'>
						</div>
						
					</div>
					<div class="owl-theme">
						<div class="owl-controls">
							<div class="owl-nav custom-nav " id='custom-navMini1'></div>
						</div>
					</div>
				</div>

			</div>


		</div>
	</div>
</div>
